@let priceForms = prices();

<fieldset>
  <legend>Prices</legend>
  <app-validation-errors
    [errors]="priceForms().errors()"
  />
  <table>
    <tr>
      <th>Flight Class</th>
      <th>Amount</th>
      <th></th>
    </tr>
    @for(price of priceForms; track $index) {
    <tr>
      <td>
        <input [control]="price.flightClass" class="form-control w-200" />
      </td>
      <td><input [control]="price.amount" class="form-control w-100" /></td>
      <td>
        <app-validation-errors
          [errors]="price().errorSummary()"
          [showFieldNames]="true"
        />
      </td>
    </tr>
    }
  </table>
  <button (click)="addPrice()" type="button" class="btn btn-default ml3">
    Add
  </button>
</fieldset>
