<div class="header">
  <h2 class="title">Flight Edit</h2>
</div>

@if (flightForm.id().value() !== 0) {

<app-validation-errors [errors]="flightForm().errors()" />
<form class="flight-form" novalidate>

  <app-flight [flight]="flightForm"></app-flight>
  <app-prices [prices]="flightForm.prices"></app-prices>
  <app-aircraft [aircraft]="flightForm.aircraft"></app-aircraft>

  <div class="mt-20">
    <button class="btn btn-default" type="button" (click)="save()">Save</button>
  </div>
</form>
} @if(isPending()) {
<div class="overlay">
  <mat-progress-spinner mode="indeterminate" diameter="60">
  </mat-progress-spinner>
</div>
}
