<div class="header">
  <h2 class="title">Flight Edit</h2>
</div>

@if (flight().id !== 0) {

<form class="flight-form" (ngSubmit)="save()">
  <div class="form-group">
    <label for="flight-id">ID</label>
    <input [field]="flightForm.id" class="form-control" id="flight-id" name="id" />
  </div>

  <div class="form-group">
    <label for="flight-from">From</label>
    <input [field]="flightForm.from" class="form-control" id="flight-from" name="from" />
  </div>

  <div class="form-group">
    <label for="flight-to">To</label>
    <input [field]="flightForm.to" class="form-control" id="flight-to" name="to" />
  </div>

  <div class="form-group">
    <label for="flight-date">Date</label>
    <div class="input-group">
      <input
        class="form-control"
        [field]="flightForm.date"
        id="flight-date"
        type="datetime-local"
        name="date"
      />
    </div>
  </div>

  <div class="form-group form-check">
    <label class="form-check-label">
      <input
        type="checkbox"
        class="form-check-input"
        id="flight-delayed"
        [field]="flightForm.delayed"
        name="delayed"
      />
      Delayed</label
    >
  </div>

  <div class="mt-20">
    <button class="btn btn-default" type="button" (click)="save()">Save</button>
  </div>
</form>
}

<!-- @if(isPending()) {
<div class="overlay">
  <mat-progress-spinner mode="indeterminate" diameter="60">
  </mat-progress-spinner>
</div>
} -->
