@let aircraftFrom = aircraft();

<fieldset>
  <legend>Aircraft</legend>

  <div class="form-group">
    <label for="type">Type:</label>
    <input id="type" class="form-control" [control]="aircraftFrom.type" />
    <pre>{{ aircraftFrom.type().errors() | json }}</pre>
  </div>
  <div class="form-group">
    <label for="registration">Registration:</label>
    <input
      id="registration"
      class="form-control"
      [control]="aircraftFrom.registration"
    />
    <pre>{{ aircraftFrom.registration().errors() | json }}</pre>
  </div>
</fieldset>
